<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">

    <title>Home Page</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://unpkg.com/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="/static/index.css"> -->
</head>

<!-- <body>
    <div class="ml-10 mt-10">
        <h2 class="mb-10 text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:truncate">New Door Hostels Laundry
        </h2>
        {% if request.user.is_authenticated %}
        {% if request.user.is_superuser %}
        <a href='/admin_dashboard'
            class="bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 border border-indigo-700 rounded">Admin's
            Dashboard</a>
        <a href='/logout'
            class="bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 border border-indigo-700 rounded">Logout</a>

        {% else %}
        <a href='/dashboard'
            class="bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 border border-indigo-700 rounded">Dashboard</a>
        <a href='/logout'
            class="bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 border border-indigo-700 rounded">Logout</a>
        {% endif %}
        {% else %}
        <a href='/user_register'
            class="bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 border border-indigo-700 rounded">Signup</a>
        <a href='/login'
            class="bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 border border-indigo-700 rounded">Login</a>
        {% endif %}
    </div>

    <script src="" async defer></script>
</body> -->

<body class="bg-gray-400 font-sans leading-normal tracking-normal">
    {% if request.user.is_authenticated %}
        <!--Nav-->
        <nav class="bg-gray-800 p-2 mt-0 w-full fixed z-10 top-0"> <!-- Add this to make the nav fixed: "fixed z-10 top-0" -->
            <div class="container mx-auto flex flex-wrap items-center">
                <div class="flex w-full md:w-1/2 justify-center md:justify-start text-white font-extrabold">
                    <a class="text-white no-underline hover:text-white hover:no-underline" href="#">
                        <span class="text-2xl pl-2">Good Host Spaces</span>
                    </a>
                </div>
                <div class="flex w-full pt-2 content-center justify-between md:w-1/2 md:justify-end">
                    <ul class="list-reset flex justify-between flex-1 md:flex-none items-center">
                        <li class="mr-3">
                            <a class="inline-block py-2 px-4 text-white no-underline" href="/">Home</a>
                        </li>
                        {% if request.user.is_superuser %}
                            <li class="mr-3">
                                <a class="inline-block text-gray-600 no-underline hover:text-gray-200 hover:text-underline py-2 px-4" href="/admin_dashboard">Dashboard</a>
                            </li>
                            <li class="mr-3">
                                <a class="inline-block text-gray-600 no-underline hover:text-gray-200 hover:text-underline py-2 px-4" href="/admin_dashboard/view_requests">View Requests</a>
                            </li>
                            <li class="mr-3">
                                <a class="inline-block text-gray-600 no-underline hover:text-gray-200 hover:text-underline py-2 px-4" href="/logout">Logout</a>
                            </li>
                        {% else %}
                            <li class="mr-3">
                                <a class="inline-block text-gray-600 no-underline hover:text-gray-200 hover:text-underline py-2 px-4" href="dashboard">Dashboard</a>
                            </li>
                            <li class="mr-3">
                                <a class="inline-block text-gray-600 no-underline hover:text-gray-200 hover:text-underline py-2 px-4" href="/use_cycle">Submit Laundry</a>
                            </li>
                            <li class="mr-3">
                                <a class="inline-block text-gray-600 no-underline hover:text-gray-200 hover:text-underline py-2 px-4" href="/contact_admin">Contact Admin</a>
                            </li>
                            <li class="mr-3">
                                <a class="inline-block text-gray-600 no-underline hover:text-gray-200 hover:text-underline py-2 px-4" href="/logout">Logout</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        <!--Hero-->
        <div class="container mx-auto flex flex-col md:flex-row items-center my-12 md:my-24">
            <!--Left Col-->
            <div class="flex flex-col w-full lg:w-1/2 justify-center items-start pt-12 pb-24 px-6">
                {% if request.user.is_superuser %}
                    <p class="uppercase tracking-loose">admin section</p>
                    <h1 class="font-bold text-3xl my-4">Good Hosts Laundry</h1>
                    <p class="leading-normal mb-4">This is the admin section of the website. You can manage all the users and their requests from the dashboard.</p>
                    <a href="/admin_dashboard" class="bg-transparent hover:bg-gray-900 text-gray-900 hover:text-white rounded shadow hover:shadow-lg py-2 px-4 border border-gray-900 hover:border-transparent">Dashboard</a>
                {% else %}
                    <p class="uppercase tracking-loose">For all your laundry needs</p>
                    <h1 class="font-bold text-3xl my-4">Good Hosts Laundry</h1>
                    <p class="leading-normal mb-4">Welcome to our website! Here you can remotely manage your laundry submissions and number of cycles. Please contact the admin regarding any issues.</p>
                    <a href="/dashboard" class="bg-transparent hover:bg-gray-900 text-gray-900 hover:text-white rounded shadow hover:shadow-lg py-2 px-4 border border-gray-900 hover:border-transparent">Dashboard</a>
                {% endif %}
            </div>
            <!--Right Col-->
            <div class="w-full lg:w-1/2 lg:py-6 text-center">
                <!--Add your product image here-->
                <img class="fill-current text-gray-900 w-3/5 mx-auto" src="../static/shopping-basket-svgrepo-com.svg">
                <!-- <svg class="fill-current text-gray-900 w-3/5 mx-auto" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M17 6V5h-2V2H3v14h5v4h3.25H11a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6zm-5.75 14H3a2 2 0 0 1-2-2V2c0-1.1.9-2 2-2h12a2 2 0 0 1 2 2v4a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-5.75zM11 8v8h6V8h-6zm3 11a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/></svg> -->
            </div>
        </div>
    {% else %}
        <!--Nav-->
        <nav class="bg-gray-800 p-2 mt-0 w-full fixed z-10 top-0"> <!-- Add this to make the nav fixed: "fixed z-10 top-0" -->
            <div class="container mx-auto flex flex-wrap items-center">
                <div class="flex w-full md:w-1/2 justify-center md:justify-start text-white font-extrabold">
                    <a class="text-white no-underline hover:text-white hover:no-underline" href="#">
                        <span class="text-2xl pl-2">Good Host Spaces</span>
                    </a>
                </div>
                <div class="flex w-full pt-2 content-center justify-between md:w-1/2 md:justify-end">
                    <ul class="list-reset flex justify-between flex-1 md:flex-none items-center">
                        <li class="mr-3">
                            <a class="inline-block py-2 px-4 text-white no-underline" href="/">Home</a>
                        </li>
                        <li class="mr-3">
                            <a class="inline-block text-gray-600 no-underline hover:text-gray-200 hover:text-underline py-2 px-4" href="/login">Login</a>
                        </li>
                        <li class="mr-3">
                            <a class="inline-block text-gray-600 no-underline hover:text-gray-200 hover:text-underline py-2 px-4" href="/user_register">Signup</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!--Hero-->
        <div class="container mx-auto flex flex-col md:flex-row items-center my-12 md:my-24">
            <!--Left Col-->
            <div class="flex flex-col w-full lg:w-1/2 justify-center items-start pt-12 pb-24 px-6">
                <p class="uppercase tracking-loose">For all your laundry needs</p>
                <h1 class="font-bold text-3xl my-4">Good Hosts Laundry</h1>
                <p class="leading-normal mb-4">Welcome to our website! Here you can remotely manage your laundry submissions and number of cycles. Please contact the admin regarding any issues.</p>
                <a href="/login" class="bg-transparent hover:bg-gray-900 text-gray-900 hover:text-white rounded shadow hover:shadow-lg py-2 px-4 border border-gray-900 hover:border-transparent">Login</a>
            </div>
            <!--Right Col-->
            <div class="w-full lg:w-1/2 lg:py-6 text-center">
                <!--Add your product image here-->
                <img class="fill-current text-gray-900 w-3/5 mx-auto" src="../static/shopping-basket-svgrepo-com.svg">
                <!-- <svg class="fill-current text-gray-900 w-3/5 mx-auto" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M17 6V5h-2V2H3v14h5v4h3.25H11a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6zm-5.75 14H3a2 2 0 0 1-2-2V2c0-1.1.9-2 2-2h12a2 2 0 0 1 2 2v4a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-5.75zM11 8v8h6V8h-6zm3 11a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/></svg> -->
            </div>
        </div>
    {% endif %}
	


</body>

</html>