<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Login form</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://unpkg.com/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/login.css">
</head>

<body class="bg-gray-400 font-sans leading-normal tracking-normal">
  <nav class="bg-gray-800 p-2 mt-0 w-full fixed z-10 top-0">
    <!-- Add this to make the nav fixed: "fixed z-10 top-0" -->
    <div class="container mx-auto flex flex-wrap items-center">
      <div class="flex w-full md:w-1/2 justify-center md:justify-start text-white font-extrabold">
        <a class="text-white no-underline hover:text-white hover:no-underline" href="#">
          <span class="text-2xl pl-2">Good Host Spaces</span>
        </a>
      </div>
      <div class="flex w-full pt-2 content-center justify-between md:w-1/2 md:justify-end">
        <ul class="list-reset flex justify-between flex-1 md:flex-none items-center">
          <li class="mr-3">
            <a class="inline-block text-gray-500 no-underline hover:text-gray-200 hover:text-underline py-2 px-4"
              href="/">Home</a>
          </li>
          <li class="mr-3">
            <a class="inline-block py-2 px-4 text-white no-underline" href="/login">Login</a>
          </li>
          <li class="mr-3">
            <a class="inline-block text-gray-500 no-underline hover:text-gray-200 hover:text-underline py-2 px-4"
              href="/user_register">Signup</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <header class="pt-28 md:pt-36 max-w-lg mx-auto">
    <a href="/">
      <h1 class="text-4xl font-bold text-center text-blueGray-800">Laundry</h1>
    </a>
  </header>

  <main class="bg-gray-100 max-w-lg mx-auto p-8 md:p-12 my-10 rounded-lg shadow-2xl">
    <section>
      <h3 class="font-bold text-2xl">Welcome to Laundry</h3>
      <p class="text-gray-600 pt-2">Sign in to your account.</p>
    </section>

    {% if messages %}
    {% for message in messages %}
    {% if message.tags == "success" %}
    <div id="alert" class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative "
      role="alert">
      <span class="block sm:inline">{{ message }}</span>
      <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
        <button class="focus:outline-none" onclick="remove()" id="cross">
          <svg class="fill-current h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <title>Close</title>
            <path
              d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z" />
          </svg>
        </button>
      </span>
    </div>
    {% else %}
    <div id="alert" class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
      <span class="block sm:inline">{{ message }}</span>
      <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
        <button class="focus:outline-none" onclick="remove()" id="cross">
          <svg class="fill-current h-6 w-6 text-red-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <title>Close</title>
            <path
              d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z" />
          </svg>
        </button>
      </span>
    </div>
    {%endif%}
    {% endfor %}
    {% endif %}



    <section class="mt-10">
      <form class="flex flex-col" method="POST" action=" " novalidate>
        {% csrf_token %}
        <div class="mb-6 pt-3 rounded bg-gray-200">
          <label class="block text-gray-700 text-sm font-bold mb-2 ml-3" for="id_username">Registration
            Number</label>
          <input type="text" required id="id_username" name="username" maxlength="100"
            class="bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-4 border-gray-300 focus:border-gray-800 transition duration-500 px-3 pb-3">
        </div>
        <div class="mb-6 pt-3 rounded bg-gray-200">
          <label class="block text-gray-700 text-sm font-bold mb-2 ml-3" for="id_password">Password</label>
          <input type="password" name="password" maxlength="32" required id="id_password"
            class="bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-4 border-gray-300 focus:border-gray-800 transition duration-500 px-3 pb-3">
        </div>
        <!-- <div class="flex justify-end">
          <a href="#" class="text-sm text-gray-600 hover:text-gray-700 hover:underline mb-6">Forgot your
            password?</a>
        </div> -->
        <button
          class="bg-gray-600 hover:bg-gray-700 text-white font-bold py-2 rounded shadow-lg hover:shadow-xl transition duration-200"
          type="submit">Sign In</button>
      </form>
    </section>
  </main>

  <div class="max-w-lg mx-auto text-center mt-12 mb-6">
    <p class="text-white">Don't have an account? <a href="/user_register" class="font-bold hover:underline">Sign
        up</a>.</p>
  </div>

  <script>
    function remove() {
      var alert = document.getElementById('alert');
      alert.classList.add('hidden');
    }
  </script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
</body>

</html>

<!-- python manage.py runserver -->