<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Registeration form</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
    {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}


        <form action='' method='post' novalidate>
            {% csrf_token %}
            {%for st in form_student%}
                {{st.label_tag}} {{st}} {{st.errors|striptags}}<br><br>
                {% endfor %}
            
                {%for us in form_user%}
                {{us.label_tag}} {{us}} {{us.errors|striptags}}<br><br>
                {% endfor %}
            
                <input type='submit' value="Submit">
        </form> 
        <a href='/'>Home</a>
        
        <script src="" async defer></script>
    </body>
</html>